<div class="about-info__area pt-100 pb-100">
  <div class="wrapper">
    <div class="about-info__container">
      <div class="about-info__logo">
        <img src="../../../../assets/favicon.png" alt="logo_nw" />
      </div>
      <div class="about-info__who-are-we">
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur
          suscipit officiis molestiae vel? Voluptate, laborum ducimus. Inventore
          natus explicabo fugit enim nemo minima eveniet, molestias ad ducimus
          consectetur, qui est!
        </p>
      </div>
    </div>
  </div>
</div>
