

  /*color*/
  $main_gold: rgb(11, 52, 218);
  $main_dark: rgb(0, 23, 201);
  $main_dark_2: rgb(32, 5, 142);
  $main_bright:rgb(0, 101, 233);
  $main_bright_2: rgb(93, 198, 250);
  $gray:rgb(191, 191, 191);
  $gray_light:#eaeaea;
  $gray_dark:rgb(99, 99, 99);
  $gray_dark_2:#343434;
  $white: #fff;
  $width: 85%;
  $input-height: 40px;
  $input-radius: 20px;
  $input-form-width: 300px;
  $black:#000;

  $svg-white: invert(98%) sepia(0%) saturate(0%) hue-rotate(9deg)
    brightness(103%) contrast(103%);

