<section class="pb-20 bg-blueGray-200 -mt-24 relative z-10">
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap">
      <div class="lg:pt-12 pt-6 w-full md:w-4/12 px-4 text-center">
        <div
          class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
        >
          <div class="px-4 py-5 flex-auto">
            <div
              class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-red-400"
            >
              <i class="fas fa-award"></i>
            </div>
            <h6 class="text-xl font-semibold">Offical Agency</h6>
            <p class="mt-2 mb-4 text-blueGray-500">
              Jordan Ministry of Digital Economy and Entrepreneurship.
            </p>
          </div>
        </div>
      </div>

      <div class="w-full md:w-4/12 px-4 text-center">
        <div
          class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
        >
          <div class="px-4 py-5 flex-auto">
            <div
              class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-amber-400"
            >
              <i class="fa-solid fa-thumbs-up"></i>
            </div>
            <h6 class="text-xl font-semibold">Free Registration</h6>
            <p class="mt-2 mb-4 text-blueGray-500">
              Signing up and requesting a new startup is totally free.
            </p>
          </div>
        </div>
      </div>

      <div class="pt-6 w-full md:w-4/12 px-4 text-center">
        <div
          class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
        >
          <div class="px-4 py-5 flex-auto">
            <div
              class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-emerald-400"
            >
              <i class="fas fa-fingerprint"></i>
            </div>
            <h6 class="text-xl font-semibold">Secured Data</h6>
            <p class="mt-2 mb-4 text-blueGray-500">
              Startup data are very secured and can not be changed by other than
              the company's owner.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-wrap items-center mt-32">
      <div class="w-full md:w-5/12 px-4 mr-auto ml-auto">
        <h3 class="text-3xl mb-2 font-semibold leading-normal">
          Welcome to Startups forum
        </h3>
        <p class="text-md font-light leading-relaxed mt-4 mb-4 text-gray-500">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis
          eos asperiores adipisci dicta perferendis optio sed inventore
          doloribus nam dolore laboriosam nesciunt, amet dolores rem sapiente
          eveniet minus ipsum explicabo.
        </p>
        <p class="text-md font-light leading-relaxed mt-0 mb-4 text-gray-500">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius illo est
          iure ad magni animi numquam cum tempora tenetur blanditiis itaque
          dolorem totam vero, eaque accusamus voluptatibus commodi, nobis
          recusandae.
        </p>
      </div>

      <div class="w-full md:w-1/2 px-4 mr-auto ml-auto">
        <div
          class="relative flex flex-col min-w-0 b bg-white w-full mb-6 shadow-lg rounded-lg bg-red-600"
        ></div>
      </div>
    </div>
  </div>
</section>
