<section class="slider__area relative">
  <div class="slider-wrapper swiper-container">
    <swiper
      class="swiper-wrapper"
      [slidesPerView]="1"
      [loop]="true"
      [effect]="'fade'"
      [autoplay]="{ delay: 3400, disableOnInteraction: false }"
    >
      <ng-template swiperSlide>
        <div
          class="single-slider swiper-slide slider__height slider__overlay flex items-center"
          [ngStyle]="{
            background:
              'url(https://firebasestorage.googleapis.com/v0/b/final-project-34557.appspot.com/o/image%203.jpg?alt=media&token=e03c7e47-5063-49a7-a5a9-d6543731a84d)',
            backgroundRepeat: 'no-repeat',
            backgroundSize: 'cover',
            backgroundPosition: 'center'
          }"
        >
          <div class="hero__content-wrapper mt-20 hero">
            <h1 class="hero__title"><span>Startup Forum</span></h1>

            <div class="hero__buttons">
              <button class="btn btn-req" (click)="checkUser($event)">
                Get started!
              </button>
            </div>
          </div>
        </div>
      </ng-template>
    </swiper>
  </div>
</section>
