<section class="page__title-area page__title-height page__title-overlay " [ngStyle]="{background:'url(https://firebasestorage.googleapis.com/v0/b/neue-welt-d499e.appspot.com/o/website%2Fbanner_1.webp?alt=media&token=a629e85d-7bb6-44ab-b1f4-a96bfeef052c)',backgroundRepeat:'no-repeat',backgroundSize:'cover',backgroundPosition:'center'}">
  <div class="container">
           <div class="page__title-wrapper  pt-100">
              <h3 class="page__title">{{title}}</h3>
              <nav aria-label="banner">
                 <ol class="banner">
                    <li class="banner-item"><a [routerLink]="['/']">Home</a></li>
                    <li class="banner-item active" aria-current="page">{{subtitle}}</li>
                 </ol>
              </nav>
           </div>
        </div>

</section>
