@use '../global' as *;

/*Header start*/

.nav {
  font-size: .8rem;
  position: fixed;
  padding: 0 1rem;
  z-index: 50;
  background: none;
  width: 100%;
  @include transition(0.3s);

  &_sticky{
    background: $white;
    opacity: 1;
    @include box-shadow(0px 10px 20px 0px rgba(8, 0, 42, 0.08));
  }

}

.header{

   &_sticky{
      position: relative;
      top: 0;
      left: 0;
      z-index: 99;
      display: block;
    }


}
.user_name{
  font-size: .8rem;
  font-weight: 600;
  border-radius: 20px;
  color: $gray;
  padding: 1rem 2rem;
  cursor: pointer;
  &_sticky{
    color: $gray !important;
    i{
      color:$gray !important ;
    }
  }
  &_noSticky{
    color: $gray !important
  }
}

.sidebar-toggle-btn{
   & .line{
    content: '';
    display: block;
    background-color: $main_bright;
    height: 2px;
    width: 26px;
    margin: 8px 0;
  }
}

.links_name{
  position: absolute;
  color: rgb(51, 67, 207);
 padding: 0 10px;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
i:hover  .links_name{

  opacity: 1;
  pointer-events: auto;
  color: $main_bright;
}
.header_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;

}

.header_left {
  display: flex;
  align-items: center;
}

.header_left img {
  display: block;
  margin-right: auto;
}

.header_left_list {

  align-items: center;
  margin-left: 1rem;

  font-weight: 500;
  padding-top: 8px;
  &_sticky{
    color: rgb(167, 167, 167);
  }
  &_notSticky{
    color: rgb(167, 167, 167);
    img{
      filter:$svg-white
    }
  }
}

.header_left_list_item {
  @extend %flex-row;
  align-items: center;
  margin: 0 1rem;
  cursor: pointer;
}

.header_left_list_item img {
  width: 12px;
  margin-left: 0.2rem;
}

.header_right {
  display: flex;
  align-items: center;
}

.header_right_form {
  position: relative;
  width: var(--input-form-width);
}

.activeNavLinks{
  background:none;
  color: $main_bright;
}

.header_right_form input {
  height: var(--input-height);
  border-radius: var(--input-radius);
  border: 1px solid $gray;
  outline: none;
  width: 100%;
  padding-left: 3rem;
}

.header_right_form input::placeholder {
  font-weight: 700;
  padding: 0.4rem;
}

.header_right_form_input_icons {
  position: absolute;
  display: flex;
  align-items: center;
  top: 11px;
  left: 16px;
}

.header_right_form_input_icons img:nth-child(1) {
  width: 20px;
}

.header_right_form_input_icons img:nth-child(2) {
  width: 12px;
}

.sidebar-toggle-btn{
  & .line{

      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
  }
&-white{
  & .line{
    background: $white;
  }
}
  &:hover{
      cursor: pointer;
      & .line{
          -webkit-transform: rotate(-30deg);
          -ms-transform: rotate(-30deg);
          -o-transform: rotate(-30deg);
          -moz-transform: rotate(-30deg);
          transform: rotate(-30deg);

          &:nth-child(1){
              width: 10px;
          }
          &:nth-child(2){
              width: 20px;
          }
      }
  }
}

.sidebar{
  &__content{
    .logo{
      h3{
        font-weight: 900;
        margin-top: 10px;
        color:$main_dark
      }
    }
  }
  &__area{
      position: fixed;
      right: 0px;
      top: 0;
      width: 320px;
      height: 100%;
      background: $white  none repeat scroll 0 0;
      overflow-y: scroll;
      @include box-shadow(-5px 0 20px -5px rgba(0, 0, 0, 0.5));
      -webkit-transition: all .3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      -moz-transition: all .3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      transition: all .3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      z-index: 9999;
      &.sidebar-opened{
          top: 0;
          right: 0px;
      }
  }
  &__wrapper{
      position: relative;
      padding: 30px;
  }
  &__close{
      position: absolute;
      top: 25px;
      right: 80px;
      &-btn{
          transition: all 450ms cubic-bezier(.4,.25,.3,1.3);
          width: 40px;
          height: 40px;
          position: absolute;
          text-align: center;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          display: flex;
          justify-content: center;
          align-items: center;
          color:$main_dark_2;
          border: 1px solid $main_dark_2;
          border-radius: 50%;
          cursor: pointer;
          overflow: hidden;
          background: transparent;
          z-index: 99;
          &:focus{
              border: 1px solid $main_dark_2;
          }
          & span{
              transition: all 400ms cubic-bezier(.4,.25,.3,1.3) 100ms;
              position: absolute;
              top: 54%;
              left: 50%;
              font-size: 14px;
              font-weight: 500;
              line-height: 40px;
              vertical-align: middle;
              &:first-of-type{
                transform: translate(-50%,-35%);
                -webkit-transform: translate(-50%,-35%);
                -moz-transform: translate(-50%,-35%);
                -ms-transform: translate(-50%,-35%);
                -o-transform: translate(-50%,-35%);
              }
              &:last-of-type{
                  text-transform: uppercase;
                  transform: translate(-50%,50%);
                  -webkit-transform: translate(-50%,50%);
                  -moz-transform: translate(-50%,50%);
                  -ms-transform: translate(-50%,50%);
                  -o-transform: translate(-50%,50%);
              }
          }
          &:hover{
              width: 100px;
            border-radius: 0;
              & span:first-of-type{

                  transform: translate(-50%,-150%);
                  -webkit-transform: translate(-50%,-150%);
                  -moz-transform: translate(-50%,-150%);
                  -ms-transform: translate(-50%,-150%);
                  -o-transform: translate(-50%,-150%);
              }
              & span:last-of-type{
                  transform: translate(-50%,-50%);
                  -webkit-transform: translate(-50%,-50%);
                  -moz-transform: translate(-50%,-50%);
                  -ms-transform: translate(-50%,-50%);
                  -o-transform: translate(-50%,-50%);
              }
          }
      }
  }
&__search{
  position: relative;
  & input{

    width: 100%;
    height: 50px;
    line-height: 20px;
    @include border-radius(4px);
    background: $white;
    outline: none;
    border: 1px solid $main_dark;
    font-size: 16px;
    padding: 25px 65px 20px 55px;

    &::placeholder{
      color: $black;
    }
    &:focus{
      border-color: $main_bright;
    }
  }
  & button{

    position: absolute;
    top: 3px;
    left: 0;

  }
}

}

.menu ul li.list-el {
  color: $main_dark;
  cursor: pointer;
}
.menu ul li {
  display: block;
}
.menu ul li a {
  padding: 12px 0;
  display: block;
  border-bottom: 1px solid rgba(0,0,0,.05);
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
}
.menu ul li.list-el.active>a {
  color: $main_dark_2;
}
.list-el.active>a:after {
  transform: rotate(-135deg) translateY(-50%);
}
.list-el>a:after {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  border-style: solid;
  border-width: 2px 0 0 2px;
  border-color: initial;
  right: 2px;
  top: 50%;
  transform: rotate(-45deg) translateY(-50%);
  transform-origin: top;
  transition: all .3s ease-out;
}
.list-el ul.sub-menu {
  padding-left: 0;
  list-style: none;
}

.sidebar-closed{
  top: 0;
  right: -150%;

}

@media screen and ($xs){
  .user_name{
    padding: 0;
    margin: 0 10px;
  }
  .header_right_btns{
   padding: 0;
   margin: 0;
   width: auto;
  }
  #sidebar-toggle{
    margin-left: 10px;
  }

}
.sub-menu{
  display: none;
  transition: all .2s ease-in;
  padding-bottom: 20px;
}
.sub-menu.active{
  display: block;
  transition: all .2s ease-in-out;
}
.sub-menu li a {
  position: relative;
  padding: 0 0 0 15px;
  text-transform: capitalize;
  font-size: 13px;
  height: 0;
  line-height: 46px;
  visibility: hidden;
  opacity: 0;
  transition: all .2s ease-in-out;
}

.sub-menu.active li a {
  height: 46px;
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.sub-menu li a{
color: $main_dark_2;
font-size: .6rem;
}

.sub-menu li{
  padding-left: 20px;
}
.dashmenu{
  position: relative;

}
.dashmenu:hover .dropmenu{
  visibility: visible;
  opacity: 1;
}
.dropmenu{
  position: absolute;
  top: 126%;
  background-color: white;
  padding: 20px;
  width: 200px;
  border-radius: 6px;
  box-shadow: 1px 3px 20px  rgba(142, 142, 142,0.3);
  visibility: hidden;
  opacity: 0;
  transition: all .2s ease-in-out;
  li{
    padding: 5px 0;
  }
}

/*Header css end*/
