@use '../global' as *;


.hero{

&__content-wrapper{
  z-index: 1000;

}



&__title{

  color: $white;
  z-index: 1000;

  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 900;
  margin: 10px 0;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  overflow: hidden;
  background-color: rgba(0,0,0,0.0);
  span{
    display: inline-block;

  }
}
&__description{
  color: $white;
  text-align: center;
  margin: 20px 0;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 25px;
}
&__buttons{

  // position: absolute;
  // z-index: 20;
  // top:65%;
  // left: 50%;
  // @media screen and (max-width:1400px) {
  //   top: 70%;
  // }
  // @media screen and (max-width:1200px) {
  //   top: 75%;
  // }
  // @media screen and (max-width:800px) {
  //   top: 80%;
  // }
  // @media screen and (max-width:600px) {
  //   top: 80%;
  // }
  // @media screen and (max-width:400px) {
  //   top: 85%;
  // }

  @include flex-centering();
  @media($xs){
    display: flex;
    flex-direction: column;
  }
 .btn{
  padding: 17px;
  margin: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  min-width: 160px;

 }
  .btn-start{
    background-color: $white;
    color: $gray_dark_2;
    font-weight: 700;
    transition: all .2s ease-in-out;
    font-size: 14px;
    &:hover {
        background-color: $gray_light;

    }
  }
  .btn-req{
    background-color:$main_gold;
    color:  $white;
    font-weight: 700;
    transition: all .2s ease-in-out;
    font-size: 14px;
    &:hover {
        background-color:$main_dark;
    }
  }
}
}

.row{
  display: grid;
  grid-template-columns: 50% 50%;

}

