@use '../global' as *;

.sectors_categories{
  &__title{
    text-align: left;

    font-size: 20px;
    font-weight: 900;
    line-height: 1;
    margin-bottom: 0;
    color: $black;
  }
  &__list{
   display: flex;
   margin: auto;
   gap: 20px;
   width: 80%;
   flex-wrap: wrap;
  }
  &__item{
   padding: 16px 0;
   padding-right: 20px;
   padding-left: 50px;
   display: flex;
   flex-direction: row;
    @include border-radius(6px);
    border: 2px solid $gray_light;
    position: relative;
    @media #{$lg}{
      padding-left: 30px;
      padding-right: 30px;
    }
    @media #{$sm}{
        padding-left: 15px;
        padding-right: 15px;
    }
    @media #{$xs}{
        padding-left: 30px;
        padding-right: 30px;
    }
      &:hover{
        transition: all .3s ease-in-out;
        img{
          filter:grayscale(0%);
          transition: all .3s ease-in-out;
          -webkit-filter: grayscale(0%);
        }
      // @include box-shadow(1px 1px 10px  gray);
      color: $black;
        & .sectors_categories__title{
          color: $main_bright;
          transition: all .3s ease-in-out;
        }

        & .sectors_categories__content{
            & p{
              color: $main_bright;
              transition: all .3s ease-in-out;
            }
        }
    }
  }
  &__icon{
    @media #{$sm}{
      margin-right: 15px;
  }
  & img{
      width: 40px;
      height: 40px;
      background-color: $white;
      border-radius: 50%;
      filter:grayscale(100%);
  -webkit-filter: grayscale(100%);
  }
}
 &__content{
  margin-left: 20px;
   p{
    text-align: left;
    font-weight: 1;
    font-size: .7rem;
    margin-top: 5px;
    margin-bottom: 0;
    color: $gray;
}

}

}

.col{
flex: 1;
min-width: 360px;
cursor: pointer;
@media screen and (max-width:434px){
  min-width: 200px;
}
@media screen and (min-width:1850px){
  min-width: 480px;
}
@media screen and (min-width:3000px){
  min-width: 600px;
}
}

.row{
 display: flex;
 align-items: flex-start;
}
