@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'swiper/swiper-bundle.css';
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import "../src/assets/scss/main.scss";


:root {

  --width: 85%;
  --input-height: 40px;
  --input-radius: 20px;
  --input-form-width: 300px;
}
